html {
    font-family: sans-serif;
    background-color: #335;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

body {
    height: 100vh;
    padding: 0;
    margin: 0;
}

input, button {
    border: none;
    resize: none;
    margin: 0;
    padding: 0;
    border-radius: 0;
    -webkit-appearance: none;
}


#main {
    position: relative;
    max-width: 600px;
    margin: 0px auto;

    height: 150px;
    /*background-color: red;*/

    resize: vertical;
    overflow: hidden;
}

#chat-log {
    position: absolute;
    background-color: white;

    left: 5px;
    top: 5px;

    width: calc(100% - 15px - 100px);
    height: calc(100% - 20px - 15px);

    overflow: auto;
}

#user-panel {
    position: absolute;
    background-color: white;

    right: 5px;
    top: 5px;

    width: 100px;
    height: calc(100% - 20px - 15px);

    overflow: auto;
}

#input-field {
    position: absolute;
    background-color: white;

    left: 5px;
    bottom: 5px;

    width: calc(100% - 10px);
    height: 20px;

    font-size: 16px;
}


#chat-log > p {
    margin: 0px;
    padding: 2px 5px;
}

#user-panel > button {
    text-align: left;
    background-color: #eee;
    width: 100%;
}


.videoContainerContainer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
}

.videoContainer {
    position: relative;
    display: inline-block;
}

.videoContainer button {
    position: absolute;
    left: 0;
    top: 0;
}

.videoContainer video {
    height: 100px;
}


#magnetic-surface {
    position: relative;
    background-color: white;
    margin: 0 auto;

    width: 320px;
    height: 320px;

    /* checkered pattern */
    background-image:
        linear-gradient(45deg, #C0C0C0 26%, transparent 26%, transparent 74%, #C0C0C0 74%),
        linear-gradient(45deg, #C0C0C0 26%, transparent 26%, transparent 74%, #C0C0C0 74%);
    background-size: 80px 80px;
    background-position: 0px 0px, 40px 40px;
}
#magnetic-actions button {
    background-color: red;
    margin: 1px;
    padding: 10px;
}

.magnet {
    color: black;
    position: absolute;
    user-select: none;
    text-align: center;
}
.piece {
    font-size: 40px;
    width: 40px;
    line-height: 40px;
}
.card {
    font-size: 10px;
    background-color: yellow;
    line-height: 30px;
    width: 60px;
    outline: 1px solid black;
}
.black {
    background-color: black;
}
.blue {
    background-color: blue;
}
.red {
    background-color: red;
}
.gray {
    background-color: gray;
}
