html {
    font-family: sans-serif;
    background-color: #335;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

body {
    padding: 0;
    margin: 0;
}

input, button {
    border: none;
    resize: none;
    margin: 0;
    padding: 0;
    border-radius: 0;
    -webkit-appearance: none;
}


#main {
    position: relative;
    max-width: 600px;
    margin: 0px auto;

    height: 150px;
    /*background-color: red;*/

    resize: vertical;
    overflow: hidden;
}

#chat-log {
    position: absolute;
    background-color: white;

    left: 5px;
    top: 5px;

    width: calc(100% - 15px - 100px);
    height: calc(100% - 20px - 15px);

    font-size: 12px;
    overflow: auto;
}

#user-panel {
    position: absolute;
    background-color: white;

    right: 5px;
    top: 5px;

    width: 100px;
    height: calc(100% - 20px - 15px);

    overflow: auto;
}

#input-field {
    position: absolute;
    background-color: white;

    left: 5px;
    bottom: 5px;

    width: calc(100% - 10px);
    height: 20px;

    font-size: 16px;
}


#chat-log > p {
    margin: 0px;
    padding: 2px 5px;
}

#user-panel > button {
    text-align: left;
    width: 100%;
}


.videoContainerContainer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 100px;
    width: 100%;
}

.videoContainer {
    position: relative;
    display: inline-block;
}

.videoContainer button {
    position: absolute;
    left: 0;
    top: 0;
}

.videoContainer video {
    height: 100px;
}
