#chat > * {
    outline: 1px solid indigo;
}
#chat-log {
    height: 90px;
    overflow-y: scroll;
    grid-area: log;
}
#chat-log p {
    margin: 5px;
}
#chat-userlist {
    grid-area: userlist;
}
#chat-input {
    grid-area: input;
}
#chat-input * {
    vertical-align: middle;
    border: none;
    outline: none; /* chrome glow */
    line-height: 15px;
    width: 100%;
    margin: 0;
    padding: 0;
}
#chat {
    margin: 0 auto;
    max-width: 800px;
    font-family: sans-serif;
    display: grid;
    grid-gap: 3px;
    grid-template-columns: 1fr 100px;
    grid-template-areas:
        "log    userlist"
        "input  userlist"
}
