#chat {
    position: fixed;
    top: 0;
    right: 0;
    margin: 5px;
    font-family: sans-serif;
    outline: 1px solid indigo;
    width: 300px;
    z-index: 999;
}
#chat:empty {
    visibility: hidden;
}
#chat-log {
    background-color: white;
    height: 90px;
    overflow-y: scroll;
}
#chat-log p {
    margin: 5px;
}
#chat-usercount {
    background-color: indigo;
    color: white;
}
#chat-form {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
}
#chat-form input {
    border: none;
    border-radius: 0;
    outline: none; /* chrome glow */
    background-color: lightgray;
    margin: 0;
    padding: 0;
}
#chat-form * {
    vertical-align: middle; /* align inputs and buttons */
    height: 20px;
}
