#chat {
    position: fixed;
    top: 0;
    right: 0;
    margin: 5px;
    font-family: sans-serif;
    font-size: small;
    width: 300px;
    z-index: 999;
}
#chat:empty {
    visibility: hidden;
}
#chat-log {
    background-color: white;
    height: 90px;
    overflow-y: scroll;
}
#chat-log p {
    margin: 5px;
}
#chat-userlist {
    border: 1px solid indigo;
    background-color: thistle;
}
#chat-usercount {
    background-color: indigo;
    color: white;
}
#chat-form {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
}
#chat-form input {
    border: none;
    border-radius: 0;
    outline: none; /* chrome glow */
    background-color: lightgray;
    margin: 0;
    padding: 0;
}
#chat-form * {
    vertical-align: middle; /* align inputs and buttons */
    height: 20px;
}
footer {
    position: fixed;
    bottom: 0;
    right: 0;
}
footer * {
    background-color: lightgray;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    display: inline;
    vertical-align: top; /* input baseline issue */
    height: 33px;
    line-height: 33px;
    border: none;
    border-radius: 0;
}
#streamGrid {
    position: fixed;
    left: 0;
    top: 0;
    font-size: 0;
}
.streamContainer {
    max-width: 50vw;
    position: relative;
    display: inline-block;
}
.streamContainer video {
    width: 100%;
    transform: scaleX(-1);
}
.streamContainer .info {
    color: black;
    font-family: sans-serif;
    font-size: small;
    position: absolute;
    left: 1px;
    top: 0;
}
.streamContainer .info.loud {
    color: lime;
}
