.streamOptions {
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
}
.streamContainer {
    position: relative;
    display: inline-block;
}
.streamContainer video {
    transform: scaleX(-1);
    max-height: 20vw;
}
.streamContainer .info {
    position: absolute;
    left: 0;
    top: 0;
}
