.streamContainer {
    position: relative;
    display: inline-block;
    z-index: -999;
}
.streamContainer video {
    transform: scaleX(-1);
}
.streamContainer .info {
    color: black;
    font-family: sans-serif;
    font-size: small;
    position: absolute;
    left: 1px;
    top: 0;
}
.streamContainer .info.loud {
    color: lime;
}
