body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-size: small;
}
#app {
    position: absolute;
    top: 0;
    left: 0;
}
#chat button, nav button {
    color: transparent;
    border: none;
    vertical-align: bottom;
}
#chat input, nav input, #settings input,
#chat textarea, nav textarea {
    border: none;
    border-radius: 0;
    outline: none; /* chrome glow */
    background-color: lightgray;
    margin: 0;
    padding: 0;
}


/* 140px */
#streamGrid {
    max-width: 100vw;
    display: block;
    clear: both;
}
.streamContainer {
    float: left;
    position: relative;
    background-color: black;
    width: 140px;
    height: 140px;
    resize: both;
    overflow: hidden;
}
.streamContainer video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.streamContainer .info {
    color: white;
    font-family: sans-serif;
    font-size: small;
    position: absolute;
    left: 1px;
    top: 0;
}
.streamContainer .info.loud {
    color: lime;
}
.streamContainer .info button {
    display: none;
}
.streamContainer:hover .info button {
    display: unset;
}

#chat {
    max-width: 100vw;
    background-color: gray;
    font-family: sans-serif;
    font-size: small;
}
#chat-log {
    box-shadow: 0 2px 3px black inset;
    background-color: white;
    height: 90px;
    overflow-y: scroll;
    resize: both;
}
#chat-log p {
    margin: 5px;
}
#chat-log code {
    padding: 3px;
    border-radius: 3px;
}
#chat-bar {
    display: grid;
    grid-template-columns: auto 1fr auto auto;
    align-items: end;
}
form[name=login] {
    display: inline;
}
#chat-input {
    resize: vertical;
    height: 30px;
    min-height: 30px;
}
[name=username] {
    height: 64px;
}


.centered-overlay {
    background-color: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
#settings {
    max-width: 80vw;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
}
#settings td:nth-of-type(1) {
    text-align: right;
}
#settings td * {
    width: 100%;
    padding-right: 3px;
}


nav {
    white-space: nowrap;
}
nav > * {
    float: left;
}
nav button {
    width: 64px;
    height: 64px;
}
#chat button {
    width: 30px;
    height: 30px;
}
button.chat {
    background-image: url("/svg/chat.svg");
}
button.clear {
    background-image: url("/svg/clear.svg");
}
button.settings {
    background-image: url("/svg/settings.svg");
}
button.stream {
    background-image: url("/svg/stream.svg");
}
button.post {
    background-image: url("/svg/post.svg");
}
button.login {
    background-image: url("/svg/arrow.svg");
    background-color: black;
}
button.logout {
    background-image: url("/svg/arrow.svg");
    background-color: black;
    transform: scaleX(-1);
}
button.upload {
    background-image: url("/svg/upload.svg");
}
